# Generic files to ignore
.*
.*.swp

# Python cache
__pycache__/

# Editors
*~
*.swp
*.swo
*#

# QtCreator
CMakeLists.txt.user

# ms-windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Local patches
/*.patch
/*.diff

# Build folders
bin-dbg
bin-opt
build*/
install*/

# OSL compiled examples
examples/osl/*.oso
